

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  background: url("../images/concrete_seamless.png");
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -105px;
}

footer,
.push {
  height: 4rem
}
.auth-image {
  width: 5em;
  margin: 0 1em 1em 1em;
  float: left;
}
nav a:hover {
  color: #5e7f7e;
}

.social:hover {
  cursor: pointer;
  opacity: 0.8;
}

.mycontainer-nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  min-width: 516px;
}

.mycontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  padding-right: 1em;
}
.container-footer{
  display: flex;
  justify-content: center;
}
h2 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: rgb(32, 181, 192);
  width: 100%
}
h1,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: rgb(32, 181, 192);
}
h1 {
  font-size: 2rem;
}
h3 {
  font-size: 1.2em;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}
.connect-h2 {
  min-width: 193px;
}
#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 4rem;
  background: rgb(32, 181, 192);
  border-bottom: 2px solid #ccc;
}

.logo {
  min-width: 350px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 2.5vw;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
  align-self: center;
  margin-bottom: 0;
}

nav {
  min-width: 8em;
  min-width: 8em;
  margin-right: 4em;
  display: flex;
  align-self: center;
  align-items: flex-end;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5vw;
}

.about {
  padding-left: 0.5em;
  border-left: 1px solid #efefef;
  width: 100%;
}
.portfolio{
  padding-right: 1.9em;
}

nav a:first-child {
  padding-right: 0.5em;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  clear: both;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
}
.social {
  width: 58px;
  margin-top: 8px;
  margin-right: 5px;

}

.social:last-child {
  margin-right: 0;
}

/* main */

#main-container {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 1em 1em;
  background: #fff;
  border: 2px solid #666;
  border-radius: 12px;
  max-width: 1050px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}


.row > p {
  margin: 0.5em;
  font-size: 90%;
  color: black;
}
.about-div > p {
  margin: 0.5em;
  font-size: 90%;
  color: black;
}
ul {
  padding-left: 1em;
  padding-top: 0.2em;
}
h4{
  font-size: 1em;
  margin: 1.2em 0;
}

.connect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5.5em;
  margin-bottom: 0.5em;
}
.connect > h3 {
  margin: 0 auto;
  text-align: center;
}
.icons{
  display: flex;
  margin-top: 0.5em;
  justify-content: center;
}

a {
  text-decoration: none;
}

li{
  margin-bottom: 0.5em;
}

.about-header {
  text-align: center;
  margin-top: 0.2em;
}

.about-p {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  line-height: 1.2em;
}
section > .devicons {
  width: 40px;
  margin: 2px;
}

.iconcontainer {
display: flex;
justify-content: center;
align-items: center;
}

.express {
  width: 60px;
}
.postgres{
  width: 37px;
  margin-right: 2px;
  margin-top: 2px;
}
.redux{
  width: 40px;
  margin-left: 2px;
  margin-top: 2px;
}
.node{
  width: 40px;
  margin: 4px;
}
.row > .iconcontainer, a {
  margin: 0 auto;
}
.main-section > .container > .col > .row {
  border: 2px solid #4aaaa5;
  border-radius: 10px;
  margin: 0.5em 0;
}
.main-section > .container > .col > .row {
  border: 2px solid #4aaaa5;
  border-radius: 10px;
  margin: 0.5em 0;
}
.main-section > .container > .col > .crypto {
  margin-bottom: 0;
}

.sidebar {
  min-width: 10em;
  padding-top: 0.5em;
  margin: 0 auto;
  background: #fff;
  border: 2px solid #666;
  border-radius: 12px;
  min-width: 220px;
  margin-bottom: 1em;
  align-self: flex-start;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
  align-self: center;
}

@media only screen and (max-width: 980px) {
 #main-container {
  flex-direction: column-reverse;
 }
 .mycontainer{
   padding-right: 0;
 }

 .main-section{
   margin: 0 auto;
   min-width: 380px;
   margin-bottom: 1em;
 }
.logo{
  font-size: 1.4em;
}
nav a {
  font-size: 0.9em;
}

}
